fpga/*/*.cache/
fpga/*/*.runs/
software/sdk_workspace/.metadata/*
software/sdk_workspace/SDK.log
software/sdk_workspace/webtalk/*
software/device-tree-xlnx/
software/dtc/
software/fsbl/BOOT.bin
software/fsbl/devicetree.dtb
software/fsbl/u-boot.elf
software/fsbl/uImage.bin
software/linux-xlnx/
software/u-boot-xlnx/
software/ubuntu-16.04.1-minimal-*